{% extends "app/base.html" %}
{% load static %}
{% block title %}About{% endblock title %}


{% block main-content %}
    <div class="container">
        <br>
        <h2 class="text-center">About Us</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">You'll also want to emphasize the core values that make your company unique. Writing about your products or services is simple. If you've created your ecommerce business in response to a gap in the market or a pain point that you think people can relate to, then tell that story!</p>
            </div>

            <br><br>
            <h2 class="text-center">Missons</h2>
            <br>
            <div class="row container">
                <p class="fs-4 text-center">You'll also want to emphasize the core values that make your company unique. Writing about your products or services is simple. If you've created your ecommerce business in response to a gap in the market or a pain point that you think people can relate to, then tell that story!</p>
        </div>
    </div>    
{% endblock main-content %}
